# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Flask instance folder
instance/

# Pytest cache
.pytest_cache/

# macOS system files
.DS_Store

/frontend-static
/local_config.py
